@import "tailwindcss";
@import "aos/dist/aos.css";

@theme {
	--color-Purple: #7c3aed;
	--color-DarkPurple: #2e1065;
	--color-Gray: #d9d9d9;

	--font-Space: "Space Grotesk";
	--font-Manrope: "Manrope";
}

@custom-variant dark (&:where(.dark, .dark *));
