---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import Experience from "../../components/Experience.astro";
import Project from "../../components/Project.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../../i18n/utils";
import { languagesList } from "../../i18n/ui";
import Logo from "../../assets/Logo.png";
import Image from "astro/components/Image.astro";

const currentLang = Astro.currentLocale || "es";

const translatedLabels = useTranslations(
	currentLang as keyof typeof languagesList,
);

console.log(`CV-${currentLang}_JUAN-PABLO-GARCIA`);
---

<Layout>
	<header
		class="font-Manrope mt-20 flex flex-col items-center md:mt-24 md:grid md:grid-cols-2"
		id="Header"
		data-aos="fade-right"
		data-aos-offset="200"
		data-aos-duration="1500"
		data-aos-easing="ease-in-out"
		data-aos-delay="300"
	>
		<section class="flex flex-col">
			<p class="">{translatedLabels("header.p1")}</p>
			<h1 class="text-Purple text-4xl font-bold">Juan Pablo</h1>
			<p>{translatedLabels("header.p2")}</p>
			<p>{translatedLabels("header.p3")}</p>

			<div class="mt-8 flex items-center gap-2">
				<a
					class="bg-Purple hover:bg-DarkPurple dark:hover:text-Purple flex cursor-pointer items-center gap-2 rounded-lg px-2 py-1 text-white hover:scale-90 hover:duration-300 dark:hover:bg-white"
					href=`/CV/CV-${currentLang.toUpperCase()}_JUAN-PABLO-GARCIA.docx`
					download=`CV-${currentLang.toUpperCase()}_JUAN-PABLO-GARCIA.docx`
					><i class="fa-solid fa-download"></i>{
						translatedLabels("header.cta")
					}</a
				>

				<div class="flex gap-4 text-2xl">
					<a
						href="#"
						class="fa-brands fa-x-twitter"
						target="_blank"
						rel="noopener"
					></a>
					<a
						href="https://github.com/JPBuildsCode"
						class="fa-brands fa-github"
						target="_blank"
						rel="noopener"
					></a>
					<a
						href="https://www.linkedin.com/in/jpbuildscode/"
						class="fa-brands fa-linkedin"
						target="_blank"
						rel="noopener"
					></a>
				</div>
			</div>
		</section>
		<section class="hidden items-center justify-end md:flex">
			<Image
				src={Logo}
				alt="Logo animado"
				loading="eager"
				class="w-1/3 rounded-full"
			/>
		</section>
	</header>

	<section
		class="mt-8"
		id="Services"
		data-aos="fade-left"
		data-aos-offset="200"
		data-aos-duration="1500"
		data-aos-easing="ease-in-out"
		data-aos-delay="300"
	>
		<h2 class="flex items-center gap-2 text-2xl font-bold">
			<i class="fa-solid fa-arrow-right"></i>{
				translatedLabels("services.title")
			}
		</h2>

		<div
			class="font-Manrope mt-2 flex grid-cols-2 flex-col gap-4 md:grid md:gap-2"
		>
			<Container>
				<p class="mb-4 flex items-center gap-2 text-lg font-bold underline">
					<i class="fa-solid fa-palette"></i>{
						translatedLabels("services.title-design")
					}
				</p>
				<ul>
					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.design-service1-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.design-service1-description")}
					</li>

					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.design-service2-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.design-service2-description")}
					</li>

					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.design-service3-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.design-service3-description")}
					</li>

					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.design-service4-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.design-service4-description")}
					</li>
				</ul>
			</Container>

			<Container>
				<p class="mb-4 flex items-center gap-2 text-lg font-bold underline">
					<i class="fa-solid fa-laptop"></i>{
						translatedLabels("services.title-software")
					}
				</p>
				<ul>
					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.software-service1-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.software-service1-description")}
					</li>

					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.software-service2-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.software-service2-description")}
					</li>

					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.software-service3-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.software-service3-description")}
					</li>

					<li class="ml-5 list-disc font-bold">
						{translatedLabels("services.software-service4-title")}
					</li>
					<li class="text-Gray">
						{translatedLabels("services.software-service4-description")}
					</li>
				</ul>
			</Container>
		</div>
	</section>

	<section
		class="mt-8"
		id="Experience"
		data-aos="fade-right"
		data-aos-offset="200"
		data-aos-duration="1500"
		data-aos-easing="ease-in-out"
		data-aos-delay="300"
	>
		<h3 class="flex items-center gap-2 text-2xl font-bold">
			<i class="fa-solid fa-arrow-right"></i>{
				translatedLabels("experience.title")
			}
		</h3>

		<div class="font-Manrope mt-2 flex grid-cols-3 flex-col gap-2 md:grid">
			<Experience
				p1={translatedLabels("experience.1.date")}
				p2={translatedLabels("experience.1.place")}
				p3={translatedLabels("experience.1.description")}
			/>
			<Experience
				p1={translatedLabels("experience.2.date")}
				p2={translatedLabels("experience.2.place")}
				p3={translatedLabels("experience.2.description")}
			/>
			<Experience
				p1={translatedLabels("experience.3.date")}
				p2={translatedLabels("experience.3.place")}
				p3={translatedLabels("experience.3.description")}
			/>
		</div>
	</section>

	<section
		class="mt-8"
		data-aos="fade-left"
		data-aos-offset="200"
		data-aos-duration="1500"
		data-aos-easing="ease-in-out"
		data-aos-delay="300"
	>
		<h4 class="flex items-center gap-2 text-2xl font-bold">
			<i class="fa-solid fa-arrow-right"></i>{
				translatedLabels("knowledge.title")
			}
		</h4>

		<div class="mt-2 flex grid-cols-2 flex-col gap-2 md:grid">
			<Container>
				<p class="text-lg font-bold">
					{translatedLabels("knowledge.design.title")}
				</p>
				<article class="grid grid-cols-2 items-center justify-center">
					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Design/Photoshop.svg"
							alt="Photoshop ICON"
							class="size-12 lg:size-max"
						/>
						<p>Photoshop</p>
					</div>

					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Design/Figma.svg"
							alt="Figma ICON"
							class="size-12 lg:size-max"
						/>
						<p>Figma</p>
					</div>
				</article>
			</Container>

			<Container>
				<p class="text-lg font-bold">
					{translatedLabels("knowledge.code.title")}
				</p>
				<article class="grid grid-cols-3 items-center justify-center gap-4">
					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Code/Astro.svg"
							alt="Astro ICON"
							class="size-12 lg:size-max"
						/>
						<p>Astro</p>
					</div>

					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Code/JS.svg"
							alt="JavaScript ICON"
							class="size-12 lg:size-max"
						/>
						<p>Javascript</p>
					</div>

					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Code/Tailwindcss.svg"
							alt="Tailwindcss ICON"
							class="size-12 lg:size-max"
						/>
						<p>Tailwind CSS</p>
					</div>

					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Code/React.svg"
							alt="React ICON"
							class="size-12 lg:size-max"
						/>
						<p>React</p>
					</div>

					<div class="flex flex-col items-center justify-center">
						<img
							loading="lazy"
							src="/ICONS/Code/Github.svg"
							alt="React ICON"
							class="size-12 lg:size-max"
						/>
						<p>Github</p>
					</div>
				</article>
			</Container>
		</div>
	</section>

	<section
		class="mt-8"
		id="Projects"
		data-aos="fade-right"
		data-aos-offset="200"
		data-aos-duration="1500"
		data-aos-easing="ease-in-out"
		data-aos-delay="300"
	>
		<div class="flex justify-between">
			<h5 class="flex items-center gap-2 text-2xl font-bold">
				<i class="fa-solid fa-arrow-right"></i>{
					translatedLabels("projects.title")
				}
			</h5>

			<a
				class="bg-Purple hover:bg-DarkPurple rounded-lg p-2 text-white hover:scale-90 hover:duration-300"
				href={getRelativeLocaleUrl(currentLang, "/projects")}
				><i class="fa-solid fa-plus"></i> {translatedLabels("projects.more")}</a
			>
		</div>

		<div
			class="mt-2 flex flex-col gap-16 md:grid md:grid-cols-2 lg:grid-cols-3"
		>
			<Project
				title="Con-siente CoWorking"
				src="/IMGS/Projects/Consiente.webp"
				description={translatedLabels("projects.1.description")}
				code="https://github.com/JPBuildsCode/Con-siente-Coworking"
				preview="https://consiente-coworking.vercel.app/"
				><div class="my-4 flex w-full justify-center gap-8">
					<img
						loading="lazy"
						src="/ICONS/Code/Tailwindcss.svg"
						alt="Icon TailwindCSS"
						class="size-12"
						title="Icon TailwindCSS"
					/>
					<img
						loading="lazy"
						src="/ICONS/Code/Astro.svg"
						alt="Icon Astro"
						class="size-12"
						title="Icon Astro"
					/>
				</div>
			</Project>

			<Project
				title="CTP Santo Domingo"
				alt="CTP Santo Domingo"
				src="/IMGS/Projects/CTPSD.webp"
				description={translatedLabels("projects.2.description")}
				code="https://github.com/JPBuildsCode/ctp-santodomingo"
				preview="https://ctp-santodomingo.vercel.app/"
				><div class="my-4 flex w-full justify-center gap-8">
					<img
						loading="lazy"
						src="/ICONS/Code/Tailwindcss.svg"
						alt="Icon TailwindCSS"
						class="size-12"
						title="Icon TailwindCSS"
					/>
					<img
						loading="lazy"
						src="/ICONS/Code/React.svg"
						alt="Icon Astro"
						class="size-12"
						title="Icon Astro"
					/>
				</div></Project
			>

			<Project
				title="Dela Flowers"
				alt="Dela Flowers"
				src="/IMGS/Projects/Dela-Flowers.webp"
				description={translatedLabels("projects.3.description")}
				code="https://github.com/JPBuildsCode/Dela-Flowers"
				preview="https://dela-flowers.vercel.app/"
				><div class="my-4 flex w-full justify-center gap-8">
					<img
						loading="lazy"
						src="/ICONS/Code/SASS.svg"
						alt="Icon SASS"
						class="size-12"
						title="Icon SASS"
					/>
					<img
						loading="lazy"
						src="/ICONS/Code/Astro.svg"
						alt="Icon Astro"
						class="size-12"
						title="Icon Astro"
					/>
				</div></Project
			>

			<Project
				title="Spooky Fest"
				alt="Spooky Fest"
				src="/IMGS/Projects/Spooky-Fest.webp"
				description={translatedLabels("projects.4.description")}
				code="https://github.com/JPBuildsCode/Halloween-Festival"
				preview="https://spookyfest.vercel.app/"
				><div class="my-4 flex w-full justify-center gap-8">
					<img
						loading="lazy"
						src="/ICONS/Code/SASS.svg"
						alt="Icon SASS"
						class="size-12"
						title="Icon SASS"
					/>
					<img
						loading="lazy"
						src="/ICONS/Code/Astro.svg"
						alt="Icon Astro"
						class="size-12"
						title="Icon Astro"
					/>
				</div></Project
			>
		</div>
	</section>

	<section
		class="mt-8"
		data-aos="fade-left"
		data-aos-offset="200"
		data-aos-duration="1500"
		data-aos-easing="ease-in-out"
		data-aos-delay="300"
	>
		<div class="font-Manrope flex grid-cols-2 flex-col gap-8 md:grid">
			<div>
				<h6 class="text-xl font-bold">{translatedLabels("contactme.title")}</h6>
				<p class="text-lg">
					{translatedLabels("contactme.p1")}
					<span class="text-Purple font-bold"
						>{translatedLabels("contactme.p1.span")}</span
					>
				</p>
				<p>{translatedLabels("contactme.p2")}</p>
			</div>

			<form
				action="https://formsubmit.co/juanp4blog@gmail.com"
				method="POST"
				class="flex flex-col gap-2"
			>
				<div class="flex flex-col">
					<label for="name">Nombre</label>
					<div
						class="bg-DarkPurple dark:text-Purple flex items-center gap-2 rounded-lg p-2 text-white dark:bg-white"
					>
						<i class="fa-solid fa-user"></i>
						<input
							type="text"
							name="name"
							id="name"
							class="w-full bg-transparent outline-none"
							required
						/>
					</div>
				</div>

				<div class="flex flex-col">
					<label for="email">{translatedLabels("contactme.form.correo")}</label>
					<div
						class="bg-DarkPurple dark:text-Purple flex items-center gap-2 rounded-lg p-2 text-white dark:bg-white"
					>
						<i class="fa-solid fa-envelope"></i>
						<input
							type="text"
							name="email"
							id="email"
							class="w-full bg-transparent outline-none"
							required
						/>
					</div>
				</div>

				<div class="flex flex-col">
					<label for="subject"
						>{translatedLabels("contactme.form.asunto")}</label
					>
					<div
						class="bg-DarkPurple dark:text-Purple flex items-center gap-2 rounded-lg p-2 text-white dark:bg-white"
					>
						<i class="fa-solid fa-tag"></i>
						<input
							type="text"
							name="subject"
							id="subject"
							class="w-full bg-transparent outline-none"
							required
						/>
					</div>
				</div>
				<div class="flex flex-col">
					<label for="Mensaje"
						>{translatedLabels("contactme.form.mensaje")}</label
					>
					<div
						class="bg-DarkPurple dark:text-Purple flex items-center gap-2 rounded-lg p-2 text-white dark:bg-white"
					>
						<i class="fa-solid fa-message"></i>

						<textarea
							name="message"
							id="message"
							class="w-full bg-transparent outline-none"
							required
						></textarea>
					</div>
				</div>
				<input
					type="hidden"
					name="_subject"
					value="Nuevo correo!"
				/>

				<div class="flex justify-end">
					<button
						type="submit"
						class="bg-Purple hover:text-Purple flex w-max cursor-pointer items-center justify-center gap-2 rounded-lg p-2 text-white hover:scale-90 hover:bg-white hover:duration-300"
						><i class="fa-solid fa-paper-plane"></i>
						{translatedLabels("contactme.form.enviar")}</button
					>
				</div>
			</form>
		</div>
	</section>
</Layout>
