---
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";
import { useTranslations } from "../../i18n/utils";
import { languagesList } from "../../i18n/ui";
const currentLang = Astro.currentLocale || "es";

const translatedLabels = useTranslations(
	currentLang as keyof typeof languagesList,
);
---

<Layout>
	<main class="mt-12 lg:mt-30">
		<h1
			class="flex items-center justify-center gap-2 text-xl font-bold uppercase"
		>
			<i class="fa-solid fa-plus"></i>
			{translatedLabels("projects.more")}
		</h1>

		<section
			class="mt-8"
			data-aos="fade-down"
			data-aos-offset="200"
			data-aos-duration="1500"
			data-aos-easing="ease-in-out"
			data-aos-delay="300"
		>
			<h2 class="flex items-center gap-2 text-xl font-bold">
				<i class="fa-solid fa-code"></i>
				{translatedLabels("knowledge.code.title")}
			</h2>
			<div
				class="mt-2 flex flex-col gap-8 md:grid md:grid-cols-2 lg:grid-cols-3"
			>
				<Project
					title="Con-siente CoWorking"
					src="/IMGS/Projects/Consiente.webp"
					description={translatedLabels("projects.1.description")}
					code="https://github.com/JPBuildsCode/Con-siente-Coworking"
					preview="https://consiente-coworking.vercel.app/"
					><div class="my-4 flex w-full justify-center gap-8">
						<img
							src="/ICONS/Code/Tailwindcss.svg"
							alt="Icon TailwindCSS"
							class="size-12"
							title="Icon TailwindCSS"
						/>
						<img
							src="/ICONS/Code/Astro.svg"
							alt="Icon Astro"
							class="size-12"
							title="Icon Astro"
						/>
					</div>
				</Project>

				<Project
					title="CTP Santo Domingo"
					src="/IMGS/Projects/CTPSD.webp"
					description={translatedLabels("projects.2.description")}
					code="https://github.com/JPBuildsCode/ctp-santodomingo"
					preview="https://ctp-santodomingo.vercel.app/"
					><div class="my-4 flex w-full justify-center gap-8">
						<img
							src="/ICONS/Code/Tailwindcss.svg"
							alt="Icon TailwindCSS"
							class="size-12"
							title="Icon TailwindCSS"
						/>
						<img
							src="/ICONS/Code/React.svg"
							alt="Icon Astro"
							class="size-12"
							title="Icon Astro"
						/>
					</div></Project
				>

				<Project
					title="Dela Flowers"
					src="/IMGS/Projects/Dela-Flowers.webp"
					description={translatedLabels("projects.3.description")}
					code="https://github.com/JPBuildsCode/Dela-Flowers"
					preview="https://dela-flowers.vercel.app/"
					><div class="my-4 flex w-full justify-center gap-8">
						<img
							src="/ICONS/Code/SASS.svg"
							alt="Icon SASS"
							class="size-12"
							title="Icon SASS"
						/>
						<img
							src="/ICONS/Code/Astro.svg"
							alt="Icon Astro"
							class="size-12"
							title="Icon Astro"
						/>
					</div></Project
				>

				<Project
					title="Spooky Fest"
					src="/IMGS/Projects/Spooky-Fest.webp"
					description={translatedLabels("projects.4.description")}
					code="https://github.com/JPBuildsCode/Halloween-Festival"
					preview="https://spookyfest.vercel.app/"
					><div class="my-4 flex w-full justify-center gap-8">
						<img
							src="/ICONS/Code/SASS.svg"
							alt="Icon SASS"
							class="size-12"
							title="Icon SASS"
						/>
						<img
							src="/ICONS/Code/Astro.svg"
							alt="Icon Astro"
							class="size-12"
							title="Icon Astro"
						/>
					</div></Project
				>
			</div>

			<section
				class="mt-8"
				data-aos="fade-up"
				data-aos-offset="200"
				data-aos-duration="1500"
				data-aos-easing="ease-in-out"
				data-aos-delay="300"
			>
				<h2 class="flex items-center gap-2 text-xl font-bold">
					<i class="fa-solid fa-palette"></i>
					{translatedLabels("knowledge.design.title")}
				</h2>

				<div class="flex flex-col gap-2 md:grid md:grid-cols-2 lg:grid-cols-3">
					<img
						src={translatedLabels("project.graphic.1")}
						alt="Graphic Project #1"
					/>
					<img
						src={translatedLabels("project.graphic.2")}
						alt="Graphic Project #2"
					/>
					<img
						src={translatedLabels("project.graphic.3")}
						alt="Graphic Project #3"
					/>
					<img
						src={translatedLabels("project.graphic.4")}
						alt="Graphic Project #4"
					/>
					<img
						src={translatedLabels("project.graphic.5")}
						alt="Graphic Project #5"
					/>
					<img
						src={translatedLabels("project.graphic.6")}
						alt="Graphic Project #6"
					/>
					<img
						src={translatedLabels("project.graphic.7")}
						alt="Graphic Project #7"
					/>
					<img
						src={translatedLabels("project.graphic.8")}
						alt="Graphic Project #8"
					/>
				</div>
			</section>
		</section>
	</main>
</Layout>
